<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Essays Form</title>
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<form action="insert" method="post" name="create">
			<div class="form-group">
				<label for="exampleFormControlInput1">Name</label> 
				<input name="name" type="text" class="form-control"	id="exampleFormControlInput1" placeholder="name">
			</div>

			<div class="form-group">
				<label for="exampleFormControlSelect1">Grade</label>
				<select class="form-control" id="exampleFormControlSelect1" name="grade">
					<option>5</option>
					<option>6</option>
					<option>7</option>
					<option>8</option>
					<option>9</option>
				</select>
			</div>

			<div class="form-group">
				<label for="exampleFormControlTextarea1">Content textarea</label>
				<textarea class="form-control" id="content" name="content" rows="5" >
				</textarea>
			</div>
			<button type="submit" class="btn btn-success">Submit</button>
		</form>
	</div>

</body>
</html>